.calendar-header-container {
  margin-bottom: var(--size-16);
  border-bottom: 2px solid var(--color-gray);
  padding-block: var(--size-16);
  position: relative;
  display: flex;
  justify-content: space-between;

  h1 {
    font-size: var(--fs-calendar-header);
  }
}

.month-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  cursor: pointer;
}

.month-nav:hover {
  .nav-button {
    background-color: var(--color-gray-hover);
    transition: .1s;
  }

  .month-hover-bg[data-active="true"] {
    transform: scaleX(1);
    transition: .2s ease-out;
  }
  .month-hover-bg[data-active="false"] {
    border-radius: 0px 0px 0px 0px;
    transform: scaleX(.05);
    transition: .1s;
  }
}

.month {
  padding-block: var(--size-4);
  position: relative;
  width: 120px;
  text-align: center;
  font-size: var(--fs-calendar-month);
  font-family: var(--font-months);

  & .month-text {
    position: relative;
      mix-blend-mode: difference;
    z-index: 1;
  }
  
  .month-hover-bg {
    border-radius: 10px 0px 0px 10px;
    position: absolute;
    display: block;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-white);
    transform-origin: center right;
    transform: scaleX(0);
    transition: .1s;
  }
  .month-hover-bg[data-active="true"] { 
    transform: scaleX(1); 
    transition: .3s;
  }
}

.nav-button {
  border-radius: 50%;
  position: relative;
  height: 28px;
  width: 28px;
  user-select: none;
  transition: .1s;

  & span {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.nav-button[data-active="true"] { 
  background-color: var(--color-gray-hover);
  transition: .1s;
}

.selection-tab {
  border-radius: var(--size-8);
  padding: var(--size-8);
  position: absolute;
  background-color: var(--color-darkgray);
  transform: translateY(62%);
  box-shadow: 0px 3px 3px rgb(17, 17, 17);
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: .1s;

  .selection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--size-8);
    list-style-type: none;

    li {
      border-radius: var(--size-8);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      user-select: none;
      transition: .1s;
    }
    li:hover {
      background-color: var(--color-gray-hover);
      transition: .1s;
    }
  }
}
.selection-tab[data-active="true"] { visibility: visible; opacity: 1; }

.calendar-body-container {
  position: relative;
}

.days-header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  text-align: center;
  font-family: var(--font-days-number);
  font-size: var(--fs-calendar-day);
  font-weight: 500;

  span {
    border-radius: 10px;
    padding-block: 4px;
    min-width: 50px;
    max-width: 70px;
    background-color: var(--color-lightgray);
  }
}

.day-grid {
  margin-top: var(--size-4);
  position: relative;
  display: grid;
  font-family: var(--font-days);
  gap: 2px;
}

