.calendar-header-container {
  margin-bottom: 15px;
  border-bottom: 2px solid var(--color-gray);
  padding-block: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.calendar-header-container > h1 {
  font-size: var(--fs-calendar-header);
}

.month-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
}

.month {
  position: relative;
  font-size: var(--fs-calendar-month);
  font-family: var(--font-months);
}
.nav-button {
  cursor: pointer;
  user-select: none;
}

.calendar-body-container {
  position: relative;
}

.days-header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  text-align: center;
  font-family: var(--font-days-number);
  font-size: var(--fs-calendar-day);
  font-weight: 500;
}
.days-header > span {
  border-radius: 10px;
  padding-block: 4px;
  min-width: 50px;
  max-width: 70px;
  background-color: var(--color-lightgray);
}

.day-grid {
  margin-top: 4px;
  position: relative;
  display: grid;
  font-family: var(--font-days);
  gap: 2px;
}

.day-container {
  border-radius: 20%;
  position: relative;
  min-width: 50px;
  max-width: 70px;
  height: 70px;
  overflow: hidden;
  user-select: none;
}

.day {
  padding: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2px;
  height: 70px;
  background-color: var(--color-gray);
  font-weight: 300;
  font-size: var(--fs-calendar-number);
  transition: .1s;
  cursor: pointer;
}
.day:hover {
  background-color: var(--color-gray-hover);
}

.weather-icon-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.weather-icon-container > img {
  align-self: center;
  max-width: 20px;
  max-height: 20px;
}

@media (width < 500px) {
  .weather-icon-container > img {
    max-width: 18px;
    max-height: 18px;
  }
}

.hint-icons-container {
  position: absolute;
  height: 15px;
  top: 5px;
  right: 5px;
  z-index: 2;
}