.months-container {
  margin-bottom: 15px;
  border-bottom: 1px solid var(--color-border);
  padding: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.month {
  position: relative;
  font-size: var(--fs-months);
  font-family: var(--font-months);
}
.month-nav {
  cursor: pointer;
  user-select: none;
}

.calendar-body-container {
  position: relative;
}

.days-header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-family: var(--font-days-number);
  font-size: var(--fs-calendar-day);
  text-align: center;
  font-weight: 600;
}
.days-header > span {
  min-width: 50px;
  max-width: 70px;
}

.day-grid {
  margin-top: 10px;
  position: relative;
  display: grid;
  font-family: var(--font-days);
}

.day {
  padding: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  min-width: 50px;
  max-width: 70px;
  height: 70px;
  user-select: none;
  font-weight: 300;
  font-size: var(--fs-calendar-number);
  overflow: hidden;
}
.day > span {
  z-index: 2;
}
.day:hover > .day-hover {
  opacity: .3;
  transition: .1s;
}

.day-hover {
  border-radius: 20%;
  position: absolute;
  width: 90%;
  height: 90%;
  background-color: var(--color-gray);
  opacity: 0;
  transition: .1s;
}

.hint-icons-container {
  display: flex;
  gap: 5px;
  height: 15px;
  z-index: 2;
}

.inactive {
  color: var(--color-inactive-day);
}