.months-container {
  padding: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.month {
  position: relative;
  font-size: var(--fs-months);
  font-family: var(--font-months);
}
.month-nav {
  cursor: pointer;
  user-select: none;
}

.days-container {
  position: relative;
  font-size: var(--fs-day-number);
}

.day-names, .days-grid {
  display: grid;
  position: relative;
  text-align: center;
}

.days-grid {
  padding-top: 10px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  font-family: var(--font-days);
  line-height: 100%;
  gap: 10px;
}

.day-names {
  grid-template-columns: repeat(7, 1fr);
  font-family: var(--font-days-number);
  font-size: var(--fs-day-names);
}

.day {
  position: relative;
  padding-block: 7px;
  user-select: none;
  font-weight: 700;
}
