.months-container {
  margin-bottom: 15px;
  border-bottom: 1px solid var(--color-border);
  padding: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.month {
  position: relative;
  font-size: var(--fs-months);
  font-family: var(--font-months);
}
.month-nav {
  cursor: pointer;
  user-select: none;
}

.days-container {
  position: relative;
  font-size: var(--fs-calendar-number);
}

.day-names, .days-grid {
  display: grid;
  position: relative;
  text-align: center;
}

.days-grid {
  padding-top: 10px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  font-family: var(--font-days);
  line-height: 100%;
}

.day-names {
  grid-template-columns: repeat(7, 1fr);
  font-family: var(--font-days-number);
  font-size: var(--fs-calendar-day);
}

.day, .day-inactive {
  padding-bottom: 7px;
  position: relative;
  user-select: none;
  font-weight: 700;
}
.day-inactive {
  color: var(--color-inactive-day);
}