:root {
  font-family: 'Inter', 'arial';
  --ff-inter: 'Inter';
  --ff-arsenal: 'arsenal';

  --background: #141414;
  --color-dark: #141414;
  --color-white: #ffffff;
  --color-plain-100: #eeeeee;
  --color-plain-200: #e6e6e6;
  --color-plain-300: #d6d6d6;
  --color-plain-400: #a5a5a5;
  --color-plain-500: #767676;
  --color-plain-600: #575757;
  --color-plain-700: #434343;
  --color-plain-800: #292929;
  --color-plain-900: #1a1a1a;
  --color-blue-100: #dae9ff;
  --color-blue-200: #bdd8ff;
  --color-blue-300: #90c1ff;
  --color-blue-400: #5ca0fe;
  --color-blue-500: #2872fb;
  --color-blue-600: #1f5bf1;
  --color-blue-700: #1846dd; /*theme color*/
  --color-blue-800: #1a39b3;
  --color-yellow-100: #fafcc6;
  --color-yellow-200: #fafb90;
  --color-yellow-300: #f8f551;
  --color-yellow-400: #f3ea1f;
  --color-yellow-500: #eedf0f;
  --color-yellow-600: #bea709;
  --color-yellow-700: #967c0a; /*theme color*/
  --color-yellow-800: #7b6210;
  --color-red-100: #ffe0e0;
  --color-red-200: #ffc7c7;
  --color-red-300: #ffa0a0;
  --color-red-400: #ff6969;
  --color-red-500: #f82525;
  --color-red-600: #e61c1c;
  --color-red-700: #c21313; /*theme color*/
  --color-red-800: #a01414;
  --color-tosca-500: #d06363;
  --color-tosca-600: #bb4747;
  --color-tosca-700: #9c3939;
  --color-tosca-800: #8c3636;
  --color-tosca-900: #6d2f2f;
  --color-eastern-blue-400: #24e1ec;
  --color-eastern-blue-500: #08c4d2;
  --color-eastern-blue-600: #0aa0b4;
  --color-eastern-blue-700: #0f7d8f;
  --color-eastern-blue-800: #166574;

  --color-red: red;
  --color-inactive-day: var(--color-plain-700);
  --color-lightgray-active: var(--color-lightgray-2);
  --color-muted: var(--color-lightgray-3);

  --color-text-inactive:  var(--color-plain-800);

  --color-tile:           var(--color-plain-800);
  --color-tile-active:    var(--color-plain-700);
  --color-tile-inactive:  var(--color-plain-900);

  --color-alert:          var(--color-tosca-800);
  --color-alert-active:   var(--color-red-700);
  --color-warning:        var(--color-yellow-700);
  --color-warning-active: var(--color-yellow-600);
  --color-event:          var(--color-eastern-blue-700);
  --color-event-active:   var(--color-eastern-blue-600);

  --color-theme-persona5r: var(--color-red-500);
  --color-theme-persona3r: var(--color-blue-500);
  --color-theme-persona4g: var(--color-yellow-500);

  --size-96: 96px;
  --size-64: 64px;
  --size-48: 48px;
  --size-32: 32px;
  --size-24: 24px;
  --size-20: 20px;
  --size-18: 18px;
  --size-16: 16px;
  --size-14: 14px;
  --size-8: 8px;
  --size-4: 4px;

  --fs-calendar-header: var(--size-20);
  --fs-calendar-month: var(--size-20);
  --fs-calendar-day: var(--size-16);
  --fs-calendar-number: var(--size-16);
  --fs-schedule-header: var(--size-16);
  --fs-schedule-body: var(--size-16);
  --fs-body: var(--size-16);
}

@media (width < 500px) {
  :root {
    --fs-calendar-header: var(--size-18);
    --fs-calendar-month: var(--size-18);
    --fs-calendar-day: var(--size-14);
    --fs-calendar-number: var(--size-14);
    --fs-schedule-header: var(--size-16);
    --fs-body: var(--size-14);
  }
}

[data-theme="main"]{
  --font-schedule-info: var(--ff-inter);
}

[data-theme="persona5_royal"]{
  --font-months: var(--ff-arsenal);
  --font-days: var(--ff-inter);
  --font-days-number: var(--ff-inter);
  --font-schedule: var(--ff-arsenal);
  --main-color: var(--color-persona5r);
  --complement-color: var(--color-persona5r);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  overflow: auto;
  background-color: var(--background);
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
