:root {
  font-family: 'Inter', 'arial';
  --ff-inter: 'Inter';
  --ff-arsenal: 'arsenal';

  --background: #131313;
  --color-white: #ffffff;
  --color-lightgray: #5353534b;
  --color-lightgray-2: #bdbbbb4b;
  --color-lightgray-3: #807d7d;
  --color-lightgray-4: #9b9b9b;
  --color-lightgray-5: #b6b5b5;
  --color-gray: #252525;
  --color-gray-hover: #333333;
  --color-darkgray: #1f1f1f;
  --color-darkgray-2: #242424;
  --color-darkgray-3: #161616;
  --color-green: #5CD032;
  --color-yellow: #D0CB32;
  --color-red: #D03232;

  --color-inactive-day: #525252;
  --color-lightgray-active: var(--color-lightgray-2);
  --color-muted: var(--color-lightgray-3);
  --color-inactive-tile: var(--color-darkgray-3);
  --color-alert: #8d4242;
  --color-alert-active: #a80909;
  --color-warning: #837e41;
  --color-warning-active: #a89d04;
  --color-event: #3b757c;
  --color-event-active: #0aa0b4;
  --color-persona5r: #f10c0c;
  --color-persona3r: #0650da;
  --color-persona4g: #eedf0f;

  --size-96: 96px;
  --size-64: 64px;
  --size-48: 48px;
  --size-32: 32px;
  --size-24: 24px;
  --size-20: 20px;
  --size-18: 18px;
  --size-16: 16px;
  --size-14: 14px;
  --size-8: 8px;
  --size-4: 4px;

  --fs-calendar-header: var(--size-20);
  --fs-calendar-month: var(--size-20);
  --fs-calendar-day: var(--size-16);
  --fs-calendar-number: var(--size-16);
  --fs-schedule-header: var(--size-16);
  --fs-schedule-body: var(--size-16);
  --fs-body: var(--size-16);
}

@media (width < 500px) {
  :root {
    --fs-calendar-header: var(--size-18);
    --fs-calendar-month: var(--size-18);
    --fs-calendar-day: var(--size-14);
    --fs-calendar-number: var(--size-14);
    --fs-schedule-header: var(--size-16);
    --fs-body: var(--size-14);
  }
}

[data-theme="main"]{
  --font-schedule-info: var(--ff-inter);
}

[data-theme="persona5_royal"]{
  --font-months: var(--ff-inter);
  --font-days: var(--ff-inter);
  --font-days-number: var(--ff-inter);
  --font-schedule: var(--ff-arsenal);
  --main-color: var(--color-persona5r);
  --complement-color: var(--color-persona5r);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  overflow: auto;
  background-color: var(--background);
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
