.main {
  width: 100%;
  padding-top: 5rem;
  position: relative;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--size-96);
}

.calendar-container {
  flex-grow: 2;
  padding: var(--size-8);
  min-width: 320px;
  max-width: 480px;
}

.schedule-container {
  flex-grow: 1;
  padding: var(--size-8);
  max-width: 500px;
}

@media (width < 800px) {
  .main-content {
    gap: var(--size-32);
    justify-content: flex-start;
  }
}