.main {
  width: 100%;
  padding-top: 5rem;
  position: relative;
}

.main-content {
  margin: auto;
  left: 0;
  right: 0;
  border: 1px solid var(--color-plain-800);
  border-radius: 10px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--size-96);
  width: fit-content;
  background-color: #131313;
}

.calendar-container {
  flex-grow: 2;
  padding: var(--size-8);
  min-width: 320px;
  max-width: 480px;
}

.calendar-header-container {
  border-radius: 10px 10px 0 0;
  margin-bottom: var(--size-16);
  border-bottom: 2px solid var(--color-plain-800);
  position: relative;
  display: flex;
  justify-content: space-between;

  h1 {
    font-size: var(--fs-calendar-header);
  }
}
.calendar-header-container > * {
  padding-block: var(--size-16);
}

.schedule-container {
  flex-grow: 1;
  padding: var(--size-8);
  max-width: 500px;
}

@media (width < 800px) {
  .main-content {
    display: block;
  }
}