.tile {
  border-radius: 20%;
  position: relative;
  min-width: 60px;
  max-width: 70px;
  height: 70px;
  overflow: hidden;
  user-select: none;
}

.tile-content {
  padding: var(--size-4);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2px;
  height: 70px;
  font-weight: 300;
  font-size: var(--fs-calendar-number);
  cursor: pointer;
}
.tile-content[data-clickable="false"] {
  background-color: var(--color-tile-inactive);
  cursor: auto;
  color: var(--color-text-inactive);
}
.tile-content[data-background='true']           { background-color: var(--color-tile); }
.tile-content:hover[data-background='true']     { background-color: var(--color-tile-active); }

.tile-content:hover > .weather-icon-container   { opacity: 1; }
.tile-content:hover > .item-indicator-container { opacity: 1 }

.tile-content[data-selected='true'] > .weather-icon-container   { opacity: 1 }
.tile-content[data-selected='true'] > .item-indicator-container { opacity: 1 }

.stripes {
  position: absolute;
  top: 0;
  left: 0;
  stroke: var(--color-dark);
}

.weather-icon-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  opacity: .7;
  z-index: 2;

  img {
    max-width: 20px;
    max-height: 20px;
  }
}
.weather-icon-container[data-icon-alignment='double'] > span:nth-child(1) {
  align-self: flex-start;
  transform: translate(1px, 5px);
}
.weather-icon-container[data-icon-alignment='double'] > span:nth-child(2) {
  align-self: flex-end;
  transform: translate(-1px, -3px);
}
.weather-icon[data-color='alert']   { filter: var(--filter-alert); }
.weather-icon[data-color='warning'] { filter: var(--filter-warning); }

.tile-number {
  z-index: 2;
}
.tile-number[data-color='alert'] { color: var(--color-alert-active); }

.item-indicator-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 0px;
  bottom: -4px;
  width: 100%;
  justify-content: center;
  gap: 2px;
  opacity: .8;
}
.item-indicator {
  border-radius: 100%;
  position: relative;
  width: 8px;
  height: 8px;
}
.item-indicator[data-display='false']    {display: none;}
.item-indicator[data-display='alert']    { background-color: var(--color-indicator-alert); }
.item-indicator[data-display='warning']  { background-color: var(--color-indicator-warning); }
.item-indicator[data-display='notice']   { background-color: var(--color-indicator-notice); }