.tile {
  border-radius: 20%;
  position: relative;
  min-width: 60px;
  max-width: 70px;
  height: 70px;
  overflow: hidden;
  user-select: none;
}

.tile-content {
  padding: var(--size-4);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2px;
  height: 70px;
  font-weight: 300;
  font-size: var(--fs-calendar-number);
  cursor: pointer;

    & span {
      z-index: 2;
    }
}
.tile-content:hover > .weather-icon-container {
  opacity: 1;
}

.stripes {
  position: absolute;
  top: 0;
  left: 0;
  stroke: #131313;
}

.tile-content[data-clickable="false"] {
  background-color: var(--color-tile-inactive);
  cursor: auto;
  color: var(--color-text-inactive);
}

.tile-content[data-background='normal']   { background-color: var(--color-tile); }
.tile-content[data-background='alert']    { background-color: var(--color-alert); }
.tile-content[data-background='warning']  { background-color: var(--color-warning); }
.tile-content[data-background='event']    { background-color: var(--color-event); }

.tile-content[data-selected='true'][data-background='normal']   { background-color: var(--color-tile-active); }
.tile-content[data-selected='true'][data-background='alert']    { background-color: var(--color-alert-active); }
.tile-content[data-selected='true'][data-background='warning']  { background-color: var(--color-warning-active); }
.tile-content[data-selected='true'][data-background='event']    { background-color: var(--color-event-active); }

.tile-content:hover[data-background='normal']   { background-color: var(--color-tile-active); }
.tile-content:hover[data-background='alert']    { background-color: var(--color-alert-active); }
.tile-content:hover[data-background='warning']  { background-color: var(--color-warning-active); }
.tile-content:hover[data-background='event']    { background-color: var(--color-event-active); }

.tile-content[data-selected='true'] > .weather-icon-container { opacity: 1 }

.weather-icon-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  opacity: .7;
  z-index: 2;

  img {
    align-self: center;
    max-width: 20px;
    max-height: 20px;
  }
}

.weather-icon-container[data-icon-alignment='single'] > img {
  align-self: center;
}
.weather-icon-container[data-icon-alignment='double'] > img:nth-child(1) {
  align-self: flex-start;
  transform: translate(1px, 5px);
}
.weather-icon-container[data-icon-alignment='double'] > img:nth-child(2) {
  align-self: flex-end;
  transform: translate(-1px, -3px);
}

.hint-icons-container {
  position: absolute;
  height: 15px;
  top: 5px;
  right: 5px;
  z-index: 2;
}