.main {
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.calendar-container {
  flex: initial;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 550px;
}


.schedule-container {
  padding: 10px;
  flex: auto;
  max-width: 500px;
}