.month-nav {
  border-radius: 10px 0 0 0;
  padding-left: var(--size-8);
  padding-right: var(--size-8);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  background-color: var(--color-plain-900);
  cursor: pointer;
}
.month-nav:hover {
  .nav-button {
    background-color: var(--color-plain-800);
    transition: .1s;
  }

  .month-hover-bg[data-active="true"] {
    transform: scaleX(1);
    transition: .2s ease-out;
  }
  .month-hover-bg[data-active="false"] {
    border-radius: 0px 0px 0px 0px;
    transform: scaleX(.03);
    transition: .1s;
  }
}

.month {
  flex-grow: 1;
  position: relative;
  max-width: 150px;
  text-align: center;
  font-size: var(--fs-calendar-month);
  font-family: var(--font-months);

  & .month-text {
    position: relative;
      mix-blend-mode: difference;
    z-index: 1;
  }
  
  .month-hover-bg { /*unused temp*/
    border-radius: 10px 0px 0px 0px;
    position: absolute;
    display: block;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-white);
    transform-origin: center right;
    transform: scaleX(0);
    transition: .1s;
  }
  .month-hover-bg[data-active="true"] { 
    transform: scaleX(1); 
    transition: .3s;
  }
}


.nav-button {
  border-radius: 50%;
  position: relative;
  height: 28px;
  width: 28px;
  user-select: none;
  transition: .1s;

  & span {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.nav-button[data-active="true"] { 
  background-color: var(--color-plain-800);
  transition: .1s;
}

.selection-tab {
  border-radius: var(--size-8);
  padding: var(--size-8);
  position: absolute;
  left: 0px;
  background-color: var(--color-plain-900);
  transform: translateY(65%);
  box-shadow: 0px 3px 3px rgb(17, 17, 17);
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: .1s;

  .selection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--size-8);
    list-style-type: none;

    li {
      border-radius: var(--size-8);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      user-select: none;
      transition: .1s;
    }
    li:hover {
      background-color: var(--color-plain-800);
      transition: .1s;
    }
  }
}
.selection-tab[data-active="true"] { visibility: visible; opacity: 1; }

.selected-date {
  flex-grow: 2;
  border-radius: 0 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-plain-200);

  & p {
    font-size: var(--fs-calendar-month);
    font-family: var(--font-months);
    font-weight: 700;
    color: var(--color-dark);
  }
}