.section-header-container {
  margin-bottom: var(--size-16);
  position: relative;
  display: flex;
  align-items: center;
  height: 62px;

  & .section-header {
    padding: var(--size-8);
    background-color: white;

    & h2 {
      mix-blend-mode: difference;
      font-family: var(--font-schedule);
    }
  }
}


.schedule {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--font-schedule-body);
  font-size: var(--fs-body);
}

