.block-top {
  display: flex;
  gap: var(--size-12);

  & .block {
    width: 100%;
  }
}
.block-section[data-display='false'] {display: none;}

.block {
  border: 1px solid var(--color-plain-700);
  border-radius: 10px;
  padding: var(--size-14) var(--size-18);
  position: relative;
}
.block[data-display='false']  { display:none }
.block[data-bg-color='alert'] {
  border-color: var(--color-plain-100);
  background-color: var(--color-alert-active);
}
.block[data-bg-color='notice'] {
  background-color: var(--color-notice);
}

.block-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-schedule-body);
}


.block-name {
  & h3 {
    font-size: var(--fs-schedule-header);
  }
  
  & span {
    font-size: var(--fs-schedule-subheader);
    color: var(--color-text-sub);
  }
  span[data-display='false']            { display: none }
}
.block-name-subtext[data-text-color='limited']     { color: var(--color-warning-active); }
.block-name-subtext[data-text-color='unavailable'] { color: var(--color-alert-active); }

.block-weather {
  display: flex;
  align-items: center;

  & img{
    width: 30px;
    height: 30px;
  }
}

.block-info {
  padding-top: var(--size-4);
  padding-left: var(--size-16);
}
.block-info[data-display='false']  { display: none }
