.schedule-date, .schedule-options, .schedule-info {
  font-family: var(--font-schedule-header);
}

.schedule-date {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 10px ;
}
.date {
  position: relative;
  display: inline-block;
  font-size: var(--fs-date);
  width: 60px;
  text-align: center;
}
.date::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  mix-blend-mode: difference;
  transform: translate(-1px, 2px);
}
.spoiler-button {
  display: inline-block;
  font-size: var(--fs-body);
}

.info-body {
  padding: 15px;
}
.schedule-options {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: var(--fs-schedule-options);
  line-height: 110%;
}

.schedule-info {
  padding-top: 10px;
  font-size: var(--fs-body);
}
.info-container {

}
.info-header {
  display: flex;
  align-items: center;
  gap: 15px;
}
.info-header > h3 {
  display: inline-block;
  width: fit-content;
}




