.days-container {
  position: relative;
  font-size: var(--fs-calendar-number);
}

.days, .numbers-grid {
  display: grid;
  position: relative;
}

.days {
  grid-template-columns: repeat(7, 1fr);
  font-family: var(--font-days-number);
  font-size: var(--fs-calendar-day);
  text-align: center;
}

.numbers-grid {
  padding-top: 10px;
  font-family: var(--font-days);
  line-height: 100%;
  text-align: right;
}

/*Set -1 for the margins to prevent border overlap which makes inside of the calendar thicker*/
.number {
  margin-right: -1px;
  margin-bottom: -1px;
  border: 1px solid var(--color-border);
  padding: 5px;
  position: relative;
  user-select: none;
  font-weight: 700;
  height: 130px;
  overflow: hidden;
}
.number > span {
  z-index: 5;
}
.inactive {
  color: var(--color-inactive-day);
}

.hint-icons-container {
  position: absolute;
  bottom: 0;
  right: 0;
}
.hint-icon {
  display: inline-block;
  height: auto;
  transform: rotate(25deg) translateX(5px) translateY(10px);
  z-index: 1; 
}


@media (width < 800px) {
  .number {
    padding: 1px;
    height: clamp(60px, calc(3.75rem + ((1vw - 3px) * 8)), 100px);
  }
  .hint-icon {
    transform: rotate(25deg) translateX(2px) translateY(5px);
  }
}