.main {
  width: 100%;
  padding-top: 5rem;
  position: relative;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.calendar-container {
  flex-grow: 2;
  padding: 10px;
  min-width: 800px;
  max-width: 1300px;
}

.calendar-header-container {
  border-radius: 10px 10px 0 0;
  margin-bottom: var(--size-16);
  border-bottom: 2px solid var(--color-gray);
  padding-block: var(--size-16);
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-darkgray);

  h1 {
    font-size: var(--fs-calendar-header);
  }
}

.schedule-container {
  flex-grow: 1;
  padding: 10px;
}

@media (width > 1600) {
  .schedule-container {
    max-width: 700px;
  }
}
@media (width < 800px) {
  .main-content {
    justify-content: start;
  }
  .calendar-container {
    min-width: 500px;
  }
}
@media (width < 500px) {
  .calendar-container {
    min-width: 300px;
  }
}